html, body {
    color: #434242;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
}

body {
    background: #eeeeee;
    font-size: 15px;
    line-height: 1.64;
}

.col-md-8 {
    top: 8px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 20px;
}

h1, h4 {
    font-weight: 700;
    margin-bottom: 10px;
}

h2, h3 {
    font-weight: 300;
    color: #635147;
}

h2 {
    font-size: 54px;
    text-align: center;
}

h3 {
    font-size: 28px;
}

p.lead {
    text-align: center;
    color: #727878;
}

p.lead a {
    color: #FFFFFF;
    text-decoration: underline;
}

p.lead a:hover {
    text-decoration: none;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

hr {
    margin: 40px 0px;
    border-color: #727878;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.project-referal {
    margin-top: 40px;
}

.project-referal p {
    font-style: italic;
    color: #999999;
}

.btn-primary {
    background-color: #22A39F;
    border-color: #1c8784;
}

.btn-primary:hover {
    background-color: #1c8784;
    border-color: #1c8784;
}

.icon-multitouch {
    display: inline-block;
    background: url(images/ic_launcher.png) no-repeat;
    max-height: 32px;
    max-width: 32px;
    float: left;
    margin-left: 80px;
    margin-right: 20px;
    margin-top: -8px;
}
.icon-mail {
    display: inline-block;
    background: url(images/gmail-32.png) no-repeat;
    height: 32px;
    width: 32px;
    float: left;
    margin-left: 80px;
    margin-right: 20px;
    margin-top: -8px;
}

.icon-twitter {
    display: inline-block;
    background: url(images/twitter-32.png) no-repeat;
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 15px;
    margin-top: -8px;
}

.icon-google {
    display: inline-block;
    background: url(images/google_play.png) no-repeat;
    max-height: 32px;
    max-width: 32px;
    float: left;
    margin-right: 15px;
    margin-top: -8px;
}


.top {
    background: no-repeat center fixed url(images/DSC03087.JPG);
    min-height: 100%;
    min-width: 200px;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/DSC03087.JPG', sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/DSC03087.JPG', sizingMethod=scale);

}

.top .overlay {
    background-color: #000;
    min-width: inherit;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 2;

}

.top .container {
    padding-top: 35vh;
    text-align: center;
    position: relative;
    z-index: 4;
}

.top .container > * {
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.top .container h1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.35);
    display: inline-block;
    z-index: 5;
}

.top .name-subtitle {
    text-align: center;
    font-weight: lighter;
    font-size: 28px;
    z-index: 6;
}

.fixed .navbar {
    position: fixed;
    top: 10px;
}

.navbar {
    border: 0px;
    background-color: #222222;
    position: fixed;
    left: 80%;
    top: 60px;
    right: 5%;
    width: 110px;
    z-index: 999;
}

.navbar .navbar-collapse {
    padding: 0px;
    max-height: none;
}

.navbar .navbar-nav {
    float: none;
}

.navbar-nav {
    margin: 0px;
}

.navbar .nav > li {
    display: block;
    float: none;
    height: 80px;
}

.navbar .nav > li a {
    display: block;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    color: #FFFFFF;
}

.navbar .nav > li a:hover, .navbar .nav > li a:focus {
    color: #999999;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #22A39F;
    color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background: #222222;
}

.profile {
    background: #ffffff;
}

.profile .row > div {
    margin-bottom: 20px;
}

.profile .row > div img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.experience {
}

.skills {
    background: #ffffff;
}

.portfolio .container{
    text-align: center;
}
.contact  {
    background: #ffffff;
}

.container {
    max-width: 1280px;
    padding: 40px 140px;
}


@media only screen and (max-width: 991px) {

}

@media (max-width: 767px) {
    .top .overlay {
        height: 100%;
    }

    .top .container {
        top: 30%;
        padding-top: 0px;
    }

    .top .scroll-down {
        width: 100%;
        right: 0px;
    }

    .navbar {
        left: 0px;
        width: 100%;
        top: 0px;
    }

    .navbar .nav > li {
        height: 60px;
    }

    .navbar .nav > li a {
        height: 60px;
        text-align: center;
        padding-top: 20px;
        font-weight: 600;
        color: #FFFFFF;
    }

    .fixed .navbar {
        top: 0px;
    }

    .container {
        padding: 60px 20px;
        min-width: 280px;
    }

    #profile .row * {
        text-align: center;
    }

    #experiences .experience .experience-details > span {
        display: block;
        margin-bottom: 6px;
    }

    #experiences .experience .experience-details .seperator {
        display: none;
    }

    .icon-mail {
        margin-left: 120px;
    }

}

@media only screen and (orientation: portrait) and (max-width: 767px) {
    .top {
        -webkit-background-size: auto 150%;
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 320px) {

}
