html, body {
    color: #434242;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
}

body {
    background: #F3EFE0;
    font-size: 15px;
    line-height: 1.64;
}

.top {
    background: no-repeat center fixed url(images/DSC03087.JPG);

    min-height: 100%;
    min-width: 200px;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/DSC03087.JPG', sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/DSC03087.JPG',sizingMethod=scale);

}

.top .overlay {
    background-color: #000;
    min-width: inherit;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 2;

}

.top .container {
    padding-top: 35vh;
    text-align: center;
    position: relative;
    z-index: 4;
}

.top .container > * {
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.top .container h1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    border-bottom-color:rgba(255,255,255,0.35);
    display: inline-block;
    z-index: 5;
}


.top .name-subtitle {
    text-align: center;
    font-weight: lighter;
    font-size: 28px;
    z-index: 6;
}
/*
.navbar {
    border: 0px;
    background-color: #222222;
    position: absolute;
    top: 100%;
    right: 5%;
    width: 110px;
    z-index: 999;
}

.nav-bar .navbar-collapse {
    padding: 0px;
    max-height: none;
}

.navbar .navbar-nav {
    float: none;
}

.navbar-nav {
    margin: 0px;
}

.navbar .nav > li {
    display: block;
    float: none;
    height: 80px;
}

.navbar .nav > li a {
    display: block;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    color: #ffffff;
}

.navbar .nav > li a:hover, .navbar .nav > li a:focus {
    color: #999999;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #22A39F;
    color: #ffffff;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background: #222222;
}

*/

.profile .row > div {
        margin-bottom: 20px;
}

.container {
    max-width: 1280px;
    padding: 40px 180px;
}

.experience__exp {
    margin-bottom:20px;
}

.experience__exp p > strong {
    display: block;
    padding-top: 8px;
    margin-bottom: 10px;
}



@media (max-width: 767px) {
    .top:before {
        bottom: 100px;
        right: 20px;
        top: 20px;
    }

}
@media only screen and (max-width: 320px) {
    .top {
        -webkit-background-size: 150% auto;
    }
}


@media only screen and (orientation: portrait) and (max-width: 767px)  {
    .top {
        -webkit-background-size: auto 150%;
        background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px)  {
    .top {
        -webkit-background-size: 150% auto;
        background-attachment: scroll;
    }
}


@media screen and (max-width: 1024px) {

}